body {
	font-family: 'Lato', sans-serif;
	background: #FCFCF9;
	color: #A6A6A4;
}

a {
	color: #D54C4A;
	text-decoration: none;
}

h1 {
	font-size: 1.750em;
	letter-spacing: -1.25px;
}

h2 {
	font-size: 1.500em;
	color: #B3CC97;
}

#logo img {
	margin: 25px 0 -25px 0;
}

.btn {
	color: #FCFCF9;
	background: #D54C4A;
	padding: 15px 30px;
	margin: 40px 0;
	border-radius: 25px;
	text-transform: uppercase;
}

.btn:hover {
	background-color: #BD3737;
}

ul.nav {
	margin: 120px 0 0 0;
	list-style: none;
	float: right;
}

ul.nav li {
	float: left;
	margin-left: 90px;
}

ul.nav li a {
	font-size: 1.1em;
	color: #DEA37A;
}

#my-photo img {
	background: #D54C4A;
	border: 10px #D54C4A solid;
	border-radius: 140px;
}

#intro {
	margin: 50px 0 75px 0;
}

#new-cupcakes img {
	border: 8px solid #DEA37A;
	margin: 0 0 20px 0;
}

#quirky img {
	border: 8px solid #DEA37A;
	margin: 20px 0;
}

#copyright {
	border-top: 8px solid #2A0400;
	padding: 10px 0;
	margin: 15px 0;
	text-align: center;
}























